
<%= form_tag('/search')  do %>
  <%= text_field_tag 'q' %><br>
  <%= submit_tag 'get weather' %><br>
  <input type="button" value="地図" 
      onClick="initialize(<%= @result["coord"]["lat"] %>,<%= @result["coord"]["lon"] %>)">

<% end %>
<br>

----------------------検索結果<br>
area = <%= @area %><br>

coord.lon               = <%= @result["coord"]["lon"] %> <br>
coord.lat               = <%= @result["coord"]["lat"] %> <br>

weather[0].id           = <%= @result["weather"][0]["id"] %> <br>
weather[0].main         = <%= @result["weather"][0]["main"] %> <br>
weather[0].description  = <%= @result["weather"][0]["description"] %> <br>
weather[0].icon         = <%= @result["weather"][0]["icon"] %> <br>

base                    = <%= @result["base"] %> <br>

main.id                 = <%= @result["main"]["temp"] %> <br>
main.pressure           = <%= @result["main"]["pressure"] %> <br>
main.humidity           = <%= @result["main"]["humidity"] %> <br>
main.temp_min           = <%= @result["main"]["temp_min"] %> <br>
main.temp_max           = <%= @result["main"]["temp_max"] %> <br>

visibility              = <%= @result["visibility"] %> <br>

wind.speed              = <%= @result["wind"]["speed"] %> <br>
wind.deg                = <%= @result["wind"]["deg"] %> <br>

clouds.all              = <%= @result["clouds"]["all"] %> <br>

dt                      = <%= @result["dt"] %> <br>

sys.type                = <%= @result["sys"]["type"] %> <br>
sys.id                  = <%= @result["sys"]["id"] %> <br>
sys.message             = <%= @result["sys"]["message"] %> <br>
sys.country             = <%= @result["sys"]["country"] %> <br>
sys.sunrise             = <%= @result["sys"]["sunrise"] %> <br>
sys.sunset              = <%= @result["sys"]["sunset"] %> <br>

id                      = <%= @result["id"] %> <br>

name                = <%= @result["name"] %> <br>

cod                 = <%= @result["cod"] %> <br>


----------------------検索結果<br>

<style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0;
        padding: 0;
      }

</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
var map;
function initialize(lat,lng) {
  map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 14,
    center: {lat: lat, lng: lng}
  });
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>    

<div id="map-canvas"></div>
 








